.heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 36.77px;
  color: #fff;
  font-style: normal;
  margin-bottom: 1rem;
}

.heading_italic {
  font-style: italic;
}

.heading_margin {
  padding: 0.5rem;
}
