.btn__primary {
  width: 167.65px;
  height: 38px;
  border-radius: 10px;
  outline: none;
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;

  text-transform: capitalize;
  color: #fff;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;

  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.btn__secondary {
  width: 112px;
  height: 38px;
  border-radius: 10px;
  outline: none;
  border: none;

  text-transform: capitalize;
  color: #000;
  background-color: #d9d9d9;

  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.btn__primary--green {
  background-image: linear-gradient(to right, #b5dc52 0%, #89e148 100%);
}

.btn__primary--red {
  background-image: linear-gradient(
    to right,
    #ff9595 0%,
    #ff4747 50%,
    #ff3838 100%
  );
}

.btn__primary--yellowishOrange {
  background-color: #f4bb4a;
}

.btn__icons {
  width: 37px;
  height: 37px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.btn__icons--orange {
  background-color: #f4bb4a;
}

.btn__icons--red {
  background-color: #ff3e3e;
}
